*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.white{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* HEADER */
.header{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #325DE9;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1874px;
}
.header__item{
    margin-left: 200px;

}
.log{
    margin-left: -600px;
    margin-right: 300px;
    
}
.header__container2{
    margin-left: -240px;
}
.header__search{
    padding-right: 38px;
}
.header__card{
    padding-right: 5px;
}
.header2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    height: 60px;
    background-color: #def2f8;
}
.header2__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1874px;
}
.header2__container{
    display: flex;
    align-items: center;
    
}
.header2__item{
    margin-left: 200px;

}
.header2__title{
    padding-left: 15px;
}
.menu{
    margin-right: 300px;
}
.header2__logo{
    height: 46px;
    width: 46px;
}
.header2__container2{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: 700;
    
}
/* page-1 */

.page__one{
    background-color: #def2f8;
    height: 455px;
    display: flex;
    justify-content: center;
}
.wrap__one{
    width: 1460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.content__one{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 200px;
    align-items: center;
    margin-top: -90px;
}
.title__one{
    font-size:50px;
    font-weight: 800;
}
.text__one{
    margin-left: 15px;
    width: 630px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
}
.card__one__car{
    height: 655px;
    width: 683px;
}

/* INPUT BLOCK */

.input__block{
    display: flex;
    justify-content: center;
    margin-top: -85px;
}
.wrap__input__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1700px;
}
.input__menu{
    display: flex;
    margin-left: 120px;
    padding-right: 90px;
    width: 560px;
    justify-content: space-between;
}
.input__btn{
    padding: 15px 25px 15px 25px;
    background-color: #F6F9FF;
    border-radius: 7px;
    margin-bottom: -6px;
}
.activ{
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.input__pts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 1580px;
    background-color: white;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 160px;
    padding-bottom: 20px;
}
.pts__block{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 14px;
    color: #828282;
    padding-bottom: 9px;
}
input{
    padding: 10px 40px 10px 20px;
    border-radius: 8px;
    border: 2px solid #828282;
    font-size: 25px;
}
.btn{
    margin-right: -60px;
    margin-left: 10px;
    margin-top: 22px;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    background-color: #448AFF;
    border: 2px solid #828282;
    font-size: 22px;
}

/* PAGE TWO */

.page__two{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: -100px;
}
.two__image{
    width: 1600px;
}

/* PAGE THREE */

.page__three{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    margin-left: -80px;

}
.wrap__three{
    display: flex;
    flex-direction: column;
    width: 1450px;
}
.three__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    max-width: 1450px;
    padding-left: 80px;
}
.three__content__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding-top: 50px;
}
.three__title{
    font-size: 23px;
}
.three__text{
    padding-top: 25px;
    width: 270px;
    font-size: 20px;
}
.three__form__statistics{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}
.wrap__form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 1300px;
    background-color: #FCE9DD;
    border-radius: 12px;
}
.info__form{
    display: flex;
    flex-direction: column;
}
.form__card{
    display: flex;
    margin-left: -32px;
}
.form__title{
    padding-left: 10px;
    color: #2F4065;
}
.form__text{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

/* PAGE FOUR */

.page__four{
    display: flex;
    justify-content: center;
    background-color: #F6F8FC;
    margin-top: 120px;
    margin-left: -80px;
    padding: 80px 0px 50px 0px;
}
.wrap__four{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four__title{
    margin-left: -950px;
    padding-bottom: 45px;
}
.four__title__text{
    font-size: 35px;
}
.four__card{
    display: flex;
    align-items: center;
    width: 1300px;
    padding-bottom: 25px;
}
.card__info{
    width: 1200px;
    height: 400px;
}
.arrow{
    padding-left: 10px;
    height: 96px;
    width: 96px;
}

.card__four__input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
    padding-top: 15px;
}
.card__four__img{
    height: 43px;
    width: 43px;
}
.four{
    width: 1590px;
    padding-right: 0px
}

/* PAGE FIVE */

.page__five{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap__five{
    padding: 120px 20px 100px 20px;
}
.five__card{
    width: 1500px;
    height: 600px;
}

/* PAGE SIX */

.page__six{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap__six{
    display: flex;
    flex-direction: column;
}

.six__card{
    width: 1900px;
}

/* PAGE SEVEN */

.page__seven{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.seven__card{
    width: 1900px;
}

/* PAGE EIGHT */

.page__eight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.eight__card{
    width: 1900px;
}